<nav>
  <div class="home">
    <a href="http://localhost:3000/">
      <i class="fa-solid fa-house"></i>
    </a>
  </div>

  <ul>
    <a href="/data">Data</a>
    <a href="/sum.html">Sum</a>
    <a href="/myName">My Name</a>
    <a href="/trackName">Track Name</a>
    <a href="/wefojwo">404 Not Found</a>
  </ul>
</nav>