<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>

   <%- include('_homepage') %>
   <a href="/data">data</a>
   <a href="/sum.html">sum</a>
   <a href="/myName">myName</a>
   <a href="/trackName">trackName</a>

</body>
</html>