<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

  <nav>
    <div class="home">
      <a href="http://localhost:3000/">
        <i class="fa-solid fa-house"></i>
      </a>
    </div>
  
    <ul>
      <a href="/data">Data</a>
      <a href="/sum.html">Sum</a>
      <a href="/myName">Info</a>
      <a href="/trackName">Sign up</a>
      <a href="/wefojwo">404 Not Found</a>
    </ul>
  </nav>

  <h1 id="sumHeading">1+2+3+ ... + N</h1>
  
  <div class="resultBox">
    <div class="result"></div>
  </div>
  

  <div class="sumBox">

    <form action="" id="js-sumForm">
      <input type="text" id="js-sumInput" placeholder="Enter an Integer">
      <button id="js-sumButton">Submit</button>
    </form>

  </div>

  <footer>
    2023 ©
  </footer>
  

  <script>

    const form = document.querySelector('#js-sumForm');
    const input = document.querySelector('#js-sumInput');
    const result = document.querySelector('div.result');
    

    form.addEventListener('submit', e => {
      e.preventDefault();

      let num = input.value;
      let numCheck = parseInt(num);
      if(isNaN(numCheck)){
        input.value = "";
        return;        
      }
      const api = `http://localhost:3000/data?number=${num}`;
      fetch(api)
        .then(res => res.text())
        .then(data => result.innerHTML = data )

      input.value = "";
    })

     
  </script>

</body>
</html>