<nav>
  <div class="home">
    <a href="http://localhost:3000/">
      <i class="fa-solid fa-house"></i>
    </a>
  </div>

  <ul>
    <a href="http://localhost:3000/users">Profile</a>
    <a href="http://localhost:3000/articles">Articles</a>
    <a href="http://localhost:3000/post">Post</a>
    <a href="http://localhost:3000/logIn">Log in</a>
    <a href="http://localhost:3000/signUp">Sign up</a>
  </ul>

</nav>