footer {
  display: flex;
  width: 100vw;
  height: 5vh;
  background-color: rgba(222, 246, 244, 0.6);
  position: absolute;
  bottom: 0;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
