.articles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // background-color: red;
  margin-top: 10px;

  div {
    flex-direction: column;
    display: flex;
    border: 30px ridge rgb(152, 157, 117);
    margin: 20px;
    width: 1000px;
    height: auto;
    text-align: center;

    p {
      flex-wrap: wrap;
      overflow-wrap: break-word;
      // background-color: red;
      margin-top: 20px;
      font-size: 20px;
      padding: 6px;
      font-weight: 600;
    }

    .js-contentTag {
      font-size: 30px;
      padding: 10px;
      font-weight: 400;
    }
  }
}

#js-articleForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // background-color: red;

  #js-articleInput {
    width: 250px;
    height: 51px;
    font-size: 26px;
    margin-right: 10px;
    border: 5px ridge rgb(161, 159, 159);
    background-color: rgb(210, 208, 208, 0.3);
    border-radius: 5%;
    color: #999;

    &::placeholder {
      text-align: center;
      font-size: 26px;
      color: #999;
    }
  }

  #js-articleSearch {
    width: 100px;
    height: 50px;
    background-color: rgb(210, 208, 208, 0.5);
    font-size: 20px;
    cursor: pointer;
    border: 5px ridge rgb(161, 159, 159);
  }
}
