* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  max-width: 100vw;
}

#homepage-img {
  width: 700px;
  height: 400px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

#errorimg {
  display: flex;
  width: 60vw;
  height: 60vh;
  margin: auto;
  position: relative;
  top: 20vh;
}

.p-tag {
  font-size: 80px;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

nav {
  width: 100vw;
  display: flex;
  background-color: rgb(190, 235, 220);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
}
nav .home {
  margin-left: 20px;
  padding: 20px;
  font-size: 20px;
  font-weight: 900;
}
nav .home a:visited {
  color: inherit;
  text-decoration: none;
}
nav ul {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  width: 600px;
  justify-items: center;
}
nav ul a {
  padding: 20px;
  margin-left: 35px;
  text-decoration: none;
}
nav ul a:visited {
  color: inherit;
}

footer {
  display: flex;
  width: 100vw;
  height: 30px;
  background-color: rgb(222, 246, 244);
  position: fixed;
  bottom: 0;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.log-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.log-form #js-post-title {
  width: 400px;
  text-align: center;
}
.log-form #js-post-content {
  width: 400px;
  height: 200px;
  text-align: center;
}
.log-form #js-post-content::-moz-placeholder {
  text-align: center;
  position: relative;
  top: 40%;
  font-size: 30px;
  color: #999;
}
.log-form #js-post-content::placeholder {
  text-align: center;
  position: relative;
  top: 40%;
  font-size: 30px;
  color: #999;
}
.log-form .log-input {
  width: 200px;
  height: 50px;
  font-size: 26px;
  margin: 20px;
  border: 5px ridge rgb(161, 159, 159);
  background-color: rgba(210, 208, 208, 0.3);
  border-radius: 5%;
  color: #999;
}
.log-form .log-input::-moz-placeholder {
  text-align: center;
  font-size: 26px;
  color: #999;
}
.log-form .log-input::placeholder {
  text-align: center;
  font-size: 26px;
  color: #999;
}
.log-form .log-button {
  width: 100px;
  height: 6vh;
  background-color: rgba(210, 208, 208, 0.5);
  font-size: 20px;
  cursor: pointer;
  border: 5px ridge rgb(161, 159, 159);
  margin-top: 4vh;
}

.heading {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: 300;
  padding: 32px;
  margin-top: 10vh;
}

.profile {
  display: flex;
  height: 40vh;
  width: 800px;
  justify-content: center;
  margin: auto;
  border: 10px double rgba(74, 66, 25, 0.8);
  border-radius: 8%;
}
.profile .photo {
  margin: 20px;
  align-self: center;
  margin-left: 40px;
}
.profile .photo img {
  border: 10px ridge rgba(241, 177, 75, 0.7);
  border-radius: 10%;
  width: 160px;
  height: 160px;
}
.profile .info {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  margin-right: auto;
  width: auto;
  font-size: 30px;
  font-weight: 600;
  color: rgba(127, 136, 54, 0.618);
}
.profile .info .acc {
  margin: 20px;
}
.profile .info .acc p {
  overflow-wrap: break-word;
}
.profile .info .mail {
  margin: 20px;
}
.profile .info .mail p {
  overflow-wrap: break-word;
}

.articles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}
.articles div {
  flex-direction: column;
  display: flex;
  border: 30px ridge rgb(152, 157, 117);
  margin: 20px;
  width: 1000px;
  height: auto;
  text-align: center;
}
.articles div p {
  flex-wrap: wrap;
  overflow-wrap: break-word;
  margin-top: 20px;
  font-size: 20px;
  padding: 6px;
  font-weight: 600;
}
.articles div .js-contentTag {
  font-size: 30px;
  padding: 10px;
  font-weight: 400;
}

#js-articleForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#js-articleForm #js-articleInput {
  width: 250px;
  height: 51px;
  font-size: 26px;
  margin-right: 10px;
  border: 5px ridge rgb(161, 159, 159);
  background-color: rgba(210, 208, 208, 0.3);
  border-radius: 5%;
  color: #999;
}
#js-articleForm #js-articleInput::-moz-placeholder {
  text-align: center;
  font-size: 26px;
  color: #999;
}
#js-articleForm #js-articleInput::placeholder {
  text-align: center;
  font-size: 26px;
  color: #999;
}
#js-articleForm #js-articleSearch {
  width: 100px;
  height: 50px;
  background-color: rgba(210, 208, 208, 0.5);
  font-size: 20px;
  cursor: pointer;
  border: 5px ridge rgb(161, 159, 159);
}/*# sourceMappingURL=style.css.map */